#loader {
    position: absolute;
    background-color: rgba(0,0,0,0.3);
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hide {
    visibility: hidden;
}
.show {
    visibility: visible;
}
.loader {
    height: 100px;
    width: 100px;
    border: 30px solid #333;
    border-radius: 50%;
    border-top-color: #CCC;
    animation: spin 2s infinite linear;
}
@keyframes spin {
    to {
        transform: rotate(1turn);
    }
}

.input-group .form-control {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-group-append {
    margin-left: -1px;
}